LOCATE COMP "global_clk" SITE "A10"; # 12 Mhz
IOBUF PORT "global_clk" IO_TYPE=LVCMOS33;

LOCATE COMP "btn" SITE "P4";
IOBUF PORT "btn" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "A13";
LOCATE COMP "led[1]" SITE "A12";
LOCATE COMP "led[2]" SITE "B19";
LOCATE COMP "led[3]" SITE "A18";
LOCATE COMP "led[4]" SITE "B18";
LOCATE COMP "led[5]" SITE "C17";
LOCATE COMP "led[6]" SITE "A17";
LOCATE COMP "led[7]" SITE "B17";

IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "global_reset" SITE "G2";
IOBUF PORT "global_reset" IO_TYPE=LVCMOS33;



LOCATE COMP "switch[0]" SITE "J1";
LOCATE COMP "switch[1]" SITE "H1";
LOCATE COMP "switch[2]" SITE "K1";
LOCATE COMP "switch[3]" SITE "E15";
LOCATE COMP "switch[4]" SITE "D16";
LOCATE COMP "switch[5]" SITE "B16";
LOCATE COMP "switch[6]" SITE "C16";
LOCATE COMP "switch[7]" SITE "A16";

IOBUF PORT "switch[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "switch[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "switch[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "switch[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "switch[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "switch[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "switch[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "switch[7]" IO_TYPE=LVCMOS33;


LOCATE COMP "mirror_uart_txd" SITE "E11";
IOBUF PORT "mirror_uart_txd" IO_TYPE=LVCMOS33;

LOCATE COMP "mirror_uart_rxd" SITE "C12";
IOBUF PORT "mirror_uart_rxd" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_txd" SITE "A19";
IOBUF PORT "uart_txd" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_rxd" SITE "A11";
IOBUF PORT "uart_rxd" IO_TYPE=LVCMOS33;